.navbar {
    .container {
      padding: 2px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      .logo {
        img {
          width: 120px;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 10px;
        h6 {
          font-size: 16px;
          font-weight: 300;
        }

        span {
          cursor: pointer;
          font-size: 17px;
        }

        .write {
          background-color: #b9e7e7;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          border: 1px solid white;

          &:hover {
            color: teal;
            background-color: white;
            border: 1px solid teal;
          }
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        }
    }
  }